# Web Framework & Server
fastapi>=0.116.2,<0.117.0
uvicorn>=0.35.0,<0.36.0
python-multipart>=0.0.20

# Authentication, Database & Environment
SQLAlchemy>=2.0.48,<3.0.0
passlib>=1.7.4
python-jose>=3.5.0
python-dotenv>=1.2.2
# STRICT PIN: Must be 4.0.1 to avoid passlib ValueError (Bug Fix)
bcrypt==4.0.1

# Core Data Science
numpy>=1.26.4,<2.0.0
pandas>=2.3.1,<3.0.0
xarray>=2025.7.1
netCDF4>=1.7.2,<2.0.0

# Geospatial & Climate Tools
cf_xarray>=0.10.6
rioxarray>=0.19.0
geopandas>=1.1.1,<2.0.0
pyogrio>=0.11.1
pyarrow>=21.0.0
fiona>=1.10.1,<2.0.0
regionmask>=0.13.0
xclim>=0.57.0,<0.60.0
xesmf>=0.8.1
pymannkendall>=1.4.3
climate_indices>=2.0.1
rasterstats>=0.20.0
cf-units>=3.3.1

# Visualization (Optional / Debugging)
matplotlib>=3.10.3
Cartopy>=0.24.1


pydantic[email]>=2.11.0,<3.0.0
psycopg2-binary>=2.9.9