# Core
netCDF4>=1.7.4
numpy>=2.3.5
pandas>=3.0.0
xarray>=2023.5.0
cf_xarray>=0.8.2
rioxarray>=0.19.0
geopandas>=1.1.2
shapely>=2.1.2
regionmask>=0.13.0

# Climate indices
xclim>=0.60.0

# Interpolation / regrid
xesmf>=0.5.1

# Trend analysis
pymannkendall>=1.4.3

# Web framework
fastapi>=0.129.0
uvicorn>=0.41.0

# File handling & utils
python-multipart>=0.0.22
netCDF4>=1.6.4
cf-units>=3.3.1

# Optional plotting / debugging
matplotlib>=3.10.8
